@tailwind base;
@tailwind components;
@tailwind utilities;

.star-rating {
    direction: rtl; /* 逆順に並べる */
    font-size: 0; /* ホワイトスペースを削除するためにフォントサイズを0に */
  }
  
  .star-rating > input {
    display: none; /* ラジオボタンを非表示に */
  }
  
  .star-rating > label {
    font-size: 24px; /* 星のサイズ */
    color: #ddd; /* デフォルトの星の色 */
    cursor: pointer;
  }
  
  .star-rating > input:checked ~ label {
    color: #ffc700; /* 選択した星の色 */
  }
  
  .star-rating > input:hover ~ label,
  .star-rating > label:hover {
    color: #ffdb00; /* ホバーした星の色 */
  }

.reviewsList {
    list-style: none;
    padding: 0;
  }
  
  .reviewItem {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .reviewTitle {
    margin: 0 0 10px 0;
    color: #333;
  }
  
  .reviewBody {
    margin: 0 0 10px 0;
  }
  
  .reviewRating {
    font-size: 1.25em;
  }